body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
	font-size: 13px;
    color: #a8a8a8;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0;
}

a {
    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}


a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: inherit;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin: 0;
}


body > section {
    padding: 100px 0;
}

#footer {
    background-color: #121116;
    padding: 115px 0 35px;
}

.footer-logo {
    margin-bottom: 45px;
}

.footer-social {
    margin-bottom: 85px;
}

.footer-social h3 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.footer-social h3:after {
  border-bottom: 1px solid #fff;
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  margin-left: -115px;
  position: absolute;
  width: 230px;
}

.footer-social ul li a {
  color: #fff;
  display: block;
  margin: 0 8px;
}

.footer-social ul li a:hover {
  color: #00C7FC;
}

.copyright {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.copyright a {
    color: #00C7FC;
}

.copyright a:hover {
    color: #fff;
}


.copyright p:first-child {
    margin-bottom: 15px;
}
